Language: Cpp
BasedOnStyle: Microsoft

AccessModifierOffset: '-4'
AlignAfterOpenBracket: Align
AlignEscapedNewlines: Left
AlignOperands: Align
AllowAllConstructorInitializersOnNextLine: false
AllowShortEnumsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Inline
AlwaysBreakTemplateDeclarations: Yes
BreakBeforeBraces: Attach
BreakConstructorInitializers: AfterColon
BreakInheritanceList: AfterColon
ColumnLimit: '140'
ConstructorInitializerAllOnOneLineOrOnePerLine: true
Cpp11BracedListStyle: false
FixNamespaceComments: false
IndentCaseLabels: true
IndentPPDirectives: AfterHash
KeepEmptyLinesAtTheStartOfBlocks: false
NamespaceIndentation: All
PointerAlignment: Left
SortIncludes: false
SpaceBeforeCtorInitializerColon: false
SpaceBeforeInheritanceColon: false
UseTab: Always
